img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
  color: #333;
  font-size: 16px;
  background: url(https://wallpapercave.com/wp/NV5qPJZ.jpg) no-repeat center bottom/cover;

  &-logo {
    position: fixed;
    top: 20px;
    pointer-events: none;
  }
  
  &-header {
    min-height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($color: #ffffff, $alpha: .5);
  }

  &-rule {
    font-size: 20px;
    display: flex;
    padding: 10px;
    background: #fff;

    span {
      margin-left: 10px;

      &::before {
        content: '- ';
      }
    }
  }

  &-form {
    margin-bottom: 2rem;
    background: #fff;
    padding: 15px;
  }

  .form-group {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
    & + .form-group {
      margin-top: 1rem;
    }

    label {
      margin-right: .5rem;
      font-size: 16px;
      white-space: nowrap;
    }
  }

  &-money {
    position: relative;
    margin: 10px;

    &__img {
      position: relative;
      margin-bottom: 0;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }
    }

    &__btn {
      position: absolute;
      right: 10px;
      bottom: 8px;
      cursor: pointer;
      background: #fff;
      width: 104px;
      height: 37px;
      border: 1px solid #BBB;
      font-weight: 700;
    }

    &__serial {
      position: absolute;
      right: 10px;
      bottom: 8px;
      font-size: 24px;
      filter: blur(2px);
    }

    &__score {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 80px;
    }

    &[class*='App-money--'] {
      .App-money__serial {
        filter: none;
        color: #fff;
      }
    }

    &--win {
      .App-money__img {
        &::after {
          background: rgba($color: green, $alpha: .5);
        }

        &::before {
          width: 150px;
          height: 150px;
          content: '';
          background: url('./win.png') no-repeat center/cover;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -105%);
        }
      }
    }

    &--lose {
     .App-money__img {
        &::after {
          background: rgba($color: red, $alpha: .8);
        }
     }
    }

    &--draw {
      .App-money__img {
        &::after {
          background: rgba($color: orange, $alpha: .8);
        }
      }
    }
  }

  &-list {
    display: flex;
    margin: 3rem auto;
  }

  &-action {
    display: flex;

    button {
      font-size: 30px;
      min-width: 200px;
      height: auto;

      + button {
        margin-left: 10px;
      }
    }
  }

}


@-webkit-keyframes fill {
  to {
    background-size:100% 0;
  }
}

@keyframes fill {
  to {
    background-size:100% 0;
  }
}


.cnh_holding button{
  background: -webkit-linear-gradient( white , white) rgb(255,215,235) no-repeat 0 0;
  background: linear-gradient( white , white) rgb(255,215,235) no-repeat 0 0;
  mix-blend-mode: multiply;
  background-size:  100% 100%;
  -webkit-animation: fill 2s forwards;
  animation: fill 2s forwards;
}