* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

::selection {
  color: inherit;
  background: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
  color: #333;
  font-size: 16px;
  background: url('./bg.jpg') no-repeat center bottom/cover;

  &-logo {
    position: fixed;
    top: 20px;
    pointer-events: none;
  }
  
  &-header {
    min-height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($color: #ffffff, $alpha: .6);
  }

  &-rule {
    font-size: 20px;
    display: flex;
    padding: 10px;
    background: #fff;
    flex-direction: column;
    align-items: baseline;

    strong {
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
    }

    span {
      &::before {
        content: '- ';
      }
    }
  }

  &-form {
    margin-bottom: 2rem;
    background: #fff;
    padding: 15px;
  }

  .form-group {
    display: flex; 
    align-items: center;
    justify-content: center;
    
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    
    & + .form-group {
      margin-top: 1rem;
    }

    .ant-checkbox-wrapper {
      width: 22%;

      &:nth-child(5) {
        margin-left: 0;
      }
    }

    .ant-checkbox-group {
      &--disabled {
        .ant-checkbox-wrapper-checked {
          pointer-events: none;
        }
      }
    }

    > label {
      margin-right: .5rem;
      font-size: 16px;
      white-space: nowrap;
    }
  }

  &-money {
    position: relative;
    margin: 10px;

    &__img {
      position: relative;
      margin-bottom: 0;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }

      &--generated {
         filter: brightness(0.4);
      }
    }

    &__btn {
      position: absolute;
      right: 10px;
      bottom: 8px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      background: burlywood;
      width: 104px;
      height: 37px;
      border: 1px solid #000;
      font-weight: 700;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      
      &:not(:hover) {
        animation: scale 1.5s infinite;
      }
    }

    &__serial {
      position: absolute;
      right: 10px;
      bottom: 8px;
      font-size: 24px;
      filter: blur(2px);
    }

    &__score {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 80px;
    }

    &[class*='App-money--'] {
      .App-money__serial {
        filter: none;
        color: #fff;
      }

      .App-money__img--generated {
        filter: none;
      }
    }

    &--win {
      .App-money__img {
        &::after {
          background: rgba($color: green, $alpha: .6);
        }

        &::before {
          width: 150px;
          height: 150px;
          content: '';
          background: url('./win.png') no-repeat center/cover;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -105%);
        }
      }
    }

    &--lose {
     .App-money__img {
        &::after {
          background: rgba($color: red, $alpha: .6);
        }
     }
    }

    &--draw {
      .App-money__img {
        &::after {
          background: rgba($color: orange, $alpha: .6);
        }
      }
    }
  }

  &-list {
    display: flex;
    margin: 3rem auto;
  }

  &-action {
    display: flex;

    button {
      font-weight: 600;
      font-size: 30px;
      min-width: 140px;
      height: auto;
      background: #fff !important;

      + button {
        margin-left: 10px;
      }
    }
  }

  @media (max-width: 767px) {
    &-list {
      flex-direction: column;
    }

    &-header {
      padding-top: 100px;
      padding-bottom: 55px;
    }

    &-logo {
      top: 0;
      width: 100%;
      background: #F1F1F1;
      padding-bottom: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      z-index: 1000;
    }

    &-form {
      width: calc(100% - 20px);
    }

    .form-group--freedom {
      flex-direction: column;

      label {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    &-action {
      button {
        font-size: 26px;
      }
    }

    &-money {
      & + .App-money {
        margin-top: 2rem;
      }

      &--win {
        &:first-child {
          margin-top: 70px;
        }

        .App-money {
          &__img {
            &:before {
                width: 90px;
                height: 90px;
                left: auto;
                transform: translate(0%, -100%);
                right: 0;
            }
          }
        }
      }

      &--lose {
        + .App-money--win {
          margin-top: 7rem;
        }
      }
    }
  }

  @media (max-width: 374px) {
    &-action {
      button {
        font-size: 20px;
      }
    }
  }
}


@-webkit-keyframes fill {
  to {
    background-size:100% 0;
  }
}

@keyframes fill {
  to {
    background-size:100% 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(.9);
  }
  
  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.9);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


.cnh_holding button{
  background: -webkit-linear-gradient( white , white) rgb(255,215,235) no-repeat 0 0;
  background: linear-gradient( white , white) rgb(255,215,235) no-repeat 0 0;
  mix-blend-mode: multiply;
  background-size:  100% 100%;
  -webkit-animation: fill 2s forwards;
  animation: fill 2s forwards;
}